body {
  font-family: 'Arial', cursive;
}

.legend {
	border: 1px solid #552355;
	margin: 11px;
	border-radius: 5px 5px 5px 5px;
	font-size: 0.4em;
	padding: 5px;        
}

.bld {
  font-weight: bold
}

img {
	margin: 0 auto;
	display: block;
}
